* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: hsl(218, 23%, 16%);
  color: hsl(193, 38%, 86%);
  text-align: center;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.card {
  background-color: hsl(217, 19%, 24%);
  color: hsl(193, 38%, 86%);
  padding: 2rem;
  border-radius: 15px;
  text-align: center;
  width: 375px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  position: relative;
}

#advice-text {
  font-size: 28px;
  font-weight: 800;
  color: hsl(193, 38%, 86%);
  margin-bottom: 20px;
}

#advice-number {
  color: hsl(150, 100%, 66%);
  font-size: 12px;
  letter-spacing: 2px;
  margin-bottom: 15px;
}

#advice-button {
  background-color: hsl(150, 100%, 66%);
  border: none;
  border-radius: 50%;
  padding: 1rem;
  cursor: pointer;
  position: absolute;
  left: 50%;
  bottom: -30px;
  transform: translateX(-50%);
  transition: background-color 0.3s, box-shadow 0.3s;
}

#advice-button:hover,
#advice-button:active {
  background-color: hsl(193, 38%, 86%);
  box-shadow: 0 0 20px 10px rgba(82, 255, 168, 0.5);
}

#advice-button img {
  width: 24px;
  height: 24px;
}

#divider {
  margin: 20px 0;
  text-align: center;
}

#divider-img {
  width: 100%;
  height: auto;
  max-width: 100%;
}

@media (max-width: 375px) {
  .card {
    width: 90vw;
    padding: 1.5rem;
  }

  #advice-text {
    font-size: 22px;
  }

  #advice-number {
    font-size: 10px;
  }

  #advice-button {
    padding: 0.8rem;
  }

  #advice-button img {
    width: 20px;
    height: 20px;
  }

  #divider-img {
    content: url("./images/pattern-divider-mobile.svg");
    max-width: 100%;
  }
}

@media (min-width: 376px) and (max-width: 1439px) {
  #card {
    max-width: 500px;
    padding: 40px;
  }

  #advice-text {
    font-size: 26px;
  }

  #advice-number{
    font-size: 12px;

  }

  #divider-img {
    content: url("./images/pattern-divider-desktop.svg");
    max-width: 100%;
  }

  #advice-button {
    padding: 1rem;
  }

  #advice-button img {
    width: 24px;
    height: 24px;
  }
}


@media (min-width: 1440px) {
  .card {
    width: 550px;
    padding: 50px;
  }

  #advice-text {
    font-size: 28px;
  }

  #advice-number {
    font-size: 14px;
  }

  #advice-button {
    padding: 1.2rem;
  }

  #advice-button img {
    width: 28px;
    height: 28px;
  }

  #divider-img {
    content: url("./images/pattern-divider-desktop.svg");
    max-width: 100%;
  }
}
